ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
  margin:0; 
  padding:0;
}

body{
  font: 15px/1.5 Arial,Helvetica,sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
h3{
    font-size: 175%;
	line-height: 155%;
	font-weight: 500;
	color: #e8491d;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

ul{
  padding: 0;
  margin: 0;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.dark{
  padding: 15px;
  background:  #43424a;
  border: 0;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header*/
 header{
  background-color: #43424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

header li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}
.ism-slider{
    text-align:center;
}

/*Showcase*/
#showcase{
  min-height: 400px;
  min-width:400px;
  background: url('../img/pic-1.png') no-repeat 0 -300px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}
 /*icon section*/
 .one-third{
	width: 33.333333%;
	float: left;
	text-align: justify;
	text-align: center;
}
.icon-wrap{
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 125%;
	text-align: center;
	background-color: #e8491d;
	margin-top: 10%;
	margin-bottom: 3%;
}
.icon-wrap i{
	text-align: center;
	font-size: 450%;
	padding: 20%;
	color: #F0F0F0;
}
/*newsletter*/
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 20px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*boxes*/
#boxes{
  margin-top: 20px;
}
#boxes .box{
  text-align: center;
  float: left;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width: 90px;
}

/*sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90px;
  padding: 5px;
}

/*main-col*/
article#main-col{
  float: left;
  width: 65%;
}

/*services*/
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-top: 5px;
  background: #e6e6e6;
}
/*footer*/
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background: #e8491d;
  text-align: center;
}

/*media queries*/
@media (max-width:768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding: 20px;
  }

  #showcase{
    margin-top: 40px;
  }

  #newsletter button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
/*----profiles css----------*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-top: 10px;
  }

.container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
/*--------------end of profile css--------------*/
.ug{
  font-weight: 400px;
  font-family: Helvetica;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 40%;
  background: #414141;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ug a{
  color: #FFFFFF;
}
.ug a:hover{
  text-transform: uppercase;
}
/*---------------countries-------------------------------*/
/* HTML ELEMENTS */
h1 small{ 
  font-size: 20px; 
  text-transform:uppercase; 
  letter-spacing: 14px;
   display: block; 
   color: #000; 
  }
h2 a { 
  display: block; 
  text-decoration: none; 
  margin: 0 0 30px 0; 
  font: italic 45px Georgia, Times, Serif;  
  text-align: center; 
  color: #bfe1f1; 
  text-shadow: 0px 2px 6px #333; 
}
h2 a:hover { 
  color: #90bcd0; 
}

/* COMMON CLASSES */
.break { 
  clear:both; 
}

/* WRAPPER */
#wrapper { 
  width:960px; 
  margin:40px auto; 
}

/* CONTENT */
#content { }
#content .info { 
  padding:10px; 
}

/* MOVIE POSTERS */
#country-list { 
  list-style:none; 
  margin:100px 0; 
  height:550px; 
}
#country-list li { 
  display:inline; 
  float:left;
  -webkit-perspective: 500; -webkit-transform-style: preserve-3d;
  -webkit-transition-property: perspective; -webkit-transition-duration: 0.5s; 
}
#country-list li:hover { 
  -webkit-perspective: 5000; 
}
  
#country-list li img { 
  border:10px solid #fcfafa; 
  -webkit-transform: rotateY(30deg);
  -moz-box-shadow:0 3px 10px #888; 
  -webkit-box-shadow:0 3px 10px #888;
  -webkit-transition-property: transform; 
  -webkit-transition-duration: 0.5s; }
#country-list li:hover img { 
  -webkit-transform: rotateY(0deg); 
}

.country { 
  border:10px solid #fcfafa; 
  padding:20px; 
  width:200px; height:180px; 
  background-color:#deddcd; 
  margin:-195px 0 0 55px; 
  position:absolute;
  -moz-box-shadow:0 20px 40px #888; 
  -webkit-box-shadow:0 20px 40px #888;
  -webkit-transform: translateZ(30px) rotateY(30deg);
  -webkit-transition-property: transform, box-shadow, margin; 
  -webkit-transition-duration: 0.5s; 
}
  
#country-list li:hover .country { 
  -webkit-transform: rotateY(0deg); 
  -webkit-box-shadow:0 5px 10px #888; 
  margin:-175px 0 0 30px; 
}
  
.country h3 { 
  color:#7a3f3a; 
  font-variant: small-caps; 
  font-family:Georgia,serif,Times; 
  text-align:center; 
  padding-bottom:15px; 
}
.country p { 
  padding-bottom:15px; 
}
.country a { 
  background-color:#7a3f3a; 
  padding:5px 10px; 
  color:#eee; 
  text-decoration:none; 
  display:block; 
  width:80px; 
  text-align:center; 
  margin:0 auto;
  -moz-border-radius:5px; 
  -webkit-border-radius:5px; 
}
.country a:hover, .country a:focus { 
  background-color:#6a191f; 
  color:#fff; 
}
/*--------------end of countries-----------------------*/

.leftcol{
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}
.rightcol{
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}
